<a href="https://colab.research.google.com/github/faheemts/ict_assignments/blob/main/assigment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Grocery Billing

In [ ]:
d=int(input('enter the item:'))
e=int(input('enter the quantity:'))
f=int(input('enter the item:'))
s=int(input('enter the quantity:'))
item1=d*e
item2=f*s
sum=item1+item2
print('totalbill=',sum)

enter the item:6
enter the quantity:2
enter the item:5
enter the quantity:2
totalbill= 22

Temperature Conversion

In [ ]:
d=int(input('enter the tempreture celsicus:'))
s= (d*9/5)+32
print('Temperature in Fahrenheit:',s)

enter the tempreture celsicus:30
Temperature in Fahrenheit: 86.0

Simple Interest

In [ ]:
d=int(input('principle:'))
e=int(input('rate:'))
f=int(input('time:'))
s=(d*e*f)/100
print('simple interest',s)

principle:4
rate:5
time:3
simple interest 0.6

salary slip

In [ ]:
s=int(input('basic slary'))
h=0.2*s
d=0.1*s
print('total salary',h+d+s)

basic slary20000
total salary 26000.0

Time Conversion

In [ ]:
e=int(input('Enter total minutes:'))
h=e//60
s=e%60
print(h,'hours',s,'minutes')

Enter total minutes:130
2 hours 10 minutes

BMI Calculator

In [ ]:
f=int(input('enter the Weight'))
g=float(input('enter the Height'))
s=f/(g*g)
print('BMI',s)

enter the Weight60
enter the Height1.65
BMI 22.03856749311295

Discount Calculation

In [ ]:
h=int(input('enter the og price'))
d=0.1*h
s=h-d
print('price discounted',s)

enter the og price1200
price after discount 1080.0

Area of a Triangle (Using Heronâ€™s Formula)

In [ ]:
e=int(input('enter the a side'))
f=int(input('enter the b side'))
g=int(input('enter the c side'))
s=(e+f+g)/2
h=(s*(s-e)*(s-f)*(s-g))**0.5
print('area of triangle',h)

enter the a side5
enter the b side6
enter the c side7
area of triangle 14.696938456699069

Paint Cost Estimator

In [ ]:
e=float(input('enter wall length (in meters)'))
f=float(input('Enter wall height (in meters): '))
h=1.5*1.2
w=e*f
p=w-h
c=p*25
print('Total area to be painted: ',p)
print('Total cost of the painting: ',c)

enter wall length (in meters)12
Enter wall height (in meters): 8
Total area to be painted:  94.2
Total cost of the painting:  2355.0

Electricity Bill Calculator

In [ ]:
e=int(input('enter number of units consumed:'))
r=100
h=e*5.2
f=h+r
print('electric bill',f)

enter number of units consumed:250
electric bill 1400.0